{{- range $i := until (int .Values.ipa.replicas) }}
---
apiVersion: v1
kind: Service
metadata:
  name: ipa-{{ printf "%02d" (add $i 1) }}-lb
  labels:
    app: freeipa
  {{- if or (index $.Values.network.services (printf "ipa-%02d" (add $i 1)) "ipv4") (index $.Values.network.services (printf "ipa-%02d" (add $i 1)) "ipv6") }}
  annotations:
    lbipam.cilium.io/ips: |-
      {{- $ipv4 := index $.Values.network.services (printf "ipa-%02d" (add $i 1)) "ipv4" }}
      {{- $ipv6 := index $.Values.network.services (printf "ipa-%02d" (add $i 1)) "ipv6" }}
      {{- if and $ipv4 $ipv6 }}
      {{ $ipv4 }},{{ $ipv6 }}
      {{- else if $ipv4 }}
      {{ $ipv4 }}
      {{- else if $ipv6 }}
      {{ $ipv6 }}
      {{- end }}
  {{- end }}
spec:
  type: LoadBalancer
  selector:
    app: freeipa
  ipFamilyPolicy: SingleStack
  ipFamilies:
    - IPv4
  ports:
    - name: "53"
      port: 53
      targetPort: 53
    - name: "80"
      port: 80
      targetPort: 80
    - name: "443"
      port: 443
      targetPort: 443
    - name: "389"
      port: 389
      targetPort: 389
    - name: "636"
      port: 636
      targetPort: 636
    - name: "88"
      port: 88
      targetPort: 88
    - name: "464"
      port: 464
      targetPort: 464
    - name: 53-udp
      port: 53
      protocol: UDP
      targetPort: 53
    - name: 88-udp
      port: 88
      protocol: UDP
      targetPort: 88
    - name: 464-udp
      port: 464
      protocol: UDP
      targetPort: 464
    - name: "123"
      port: 123
      protocol: UDP
      targetPort: 123
{{- end }}
