---
apiVersion: v1
kind: Secret
metadata:
  name: "ipa-01-install-secrets"
type: Opaque
stringData:
  IPA_OPTIONS: |-
    --unattended
    --realm={{ .Values.ipa.domain | upper }}
    --domain={{ .Values.ipa.domain }}
    --no-ntp
    --no-host-dns
    --setup-dns
    --zonemgr="{{ .Values.ipa.server.adminEmail }}"
    --no-forwarders
    --skip-mem-check
    --auto-reverse
    --setup-kra
    --no-dnssec-validation
    --ssh-trust-dns
    {{- if index .Values.network.services "ipa-01" "ipv4" }}
    --ip-address="{{ index .Values.network.services "ipa-01" "ipv4" }}"
    {{- end }}
    {{- if index .Values.network.services "ipa-01" "ipv6" }}
    --ip-address="{{ index .Values.network.services "ipa-01" "ipv6" }}"
    {{- end }}
