{{- range $i := untilStep 1 (int .Values.ipa.replicas) 1 }}
---
apiVersion: v1
kind: Secret
metadata:
  name: ipa-{{ printf "%02d" (add $i 1) }}-install-secrets
type: Opaque
stringData:
  IPA_REPLICA_OPTIONS: |-
    --unattended
    --principal=admin
    --no-ntp
    --no-host-dns
    --setup-dns
    --no-forwarders
    --skip-mem-check
    --auto-reverse
    --setup-kra
    --ssh-trust-dns
    {{- if index $.Values.network.services (printf "ipa-%02d" (add $i 1)) "ipv4" }}
    --ip-address="{{ index $.Values.network.services (printf "ipa-%02d" (add $i 1)) "ipv4" }}"
    {{- end }}
    {{- if index $.Values.network.services (printf "ipa-%02d" (add $i 1)) "ipv6" }}
    --ip-address="{{ index $.Values.network.services (printf "ipa-%02d" (add $i 1)) "ipv6" }}"
    {{- end }}
    --realm={{ $.Values.ipa.domain | upper }}
    --domain={{ $.Values.ipa.domain }}
    --server=ipa-01.{{ $.Values.ipa.domain }}
{{- end }}
