{{- range $i := untilStep 1 (int .Values.ipa_replicas) 1 }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ipa-{{ printf "%02d" (add $i 1) }}-data
spec:
  {{- if .Values.storage.storageClassName }}
  storageClassName: {{ .Values.storage.storageClassName }}
  {{- end }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
{{- end }}
