apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: openebs
resources:
- namespace.yaml
helmCharts:
- name: openebs
  repo: https://openebs.github.io/openebs
  includeCRDs: true
  releaseName: openebs
  namespace: openebs
  valuesFile: values/openebs-4.4.0.yaml
  version: 4.4.0
transformers:
  - ../../image-prefix.yaml
