services:
  packer:
    # image: harbor.clusters.zjusct.io/library/packer:latest
    build: .
    entrypoint: ["sleep", "infinity"]
    init: true
    privileged: true
    volumes:
      - .:/workspace
      - /dev/kvm:/dev/kvm
    working_dir: /workspace
    network_mode: host
  debian:
    image: harbor.clusters.zjusct.io/docker.io/library/debian:trixie
    init: true
    entrypoint: ["sleep", "infinity"]
    environment:
      - DEBIANC_FRONTEND=noninteractive
    volumes:
      - .:/workspace
    working_dir: /workspace
    post_start:
      - command: sed -i 's/[a-z]*.debian.org/mirrors.zju.edu.cn/g' /etc/apt/sources.list.d/debian.sources
        user: root
